{% extends "base.html.twig" %}
{% block body %}
<div style="margin-top: 100px;" class="container">
    <div class="row justify-content-center">
        <form id="login" class="jumbotron p-4" method="POST">
            <h5>Inicie sesi칩n para empezar a usar la aplicaci칩n</h5>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label for="loginUsername" class="input-group-text w-100 float-right">Usuario</label>
                </div>
                <input id="loginUsername" name="_username" type="text" class="form-control" value="{{ last_username }}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <label for="loginPassword" class="input-group-text w-100 float-right">Password</label>
                </div>
                <input id="loginPassword" name="_password" type="password" class="form-control">
            </div>
            {% if error %}
                <div class="text-danger">{{ error.message }}</div>
            {% endif %}
            <div class="form-group m-auto form-row justify-content-center">
                <input type="submit" class="btn btn-primary">
            </div>
            <!-- <input type="hidden" name="_target_path" value="{{ path('main') }}"  />-->
        </form>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Registrarse
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Formulario de Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registroform" action="javascript:registro()">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend registro-label">
                            <label class="input-group-text w-100">Nombre de usuario</label>
                        </div>
                        <input id="nick" class="form-control registro-field" name="nick">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend registro-label">
                            <label class="input-group-text w-100">Contrase침a</label>
                        </div>
                        <input id="password" type="password" class="form-control registro-field" name="pass">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend registro-label">
                            <label class="input-group-text w-100">Confirmar Contrase침a</label>
                        </div>
                        <input id="password2" type="password" class="form-control registro-field" name="pass2">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend registro-label">
                            <label class="input-group-text w-100">Avatar</label>
                        </div>
                        <input id="avatar" class="form-control registro-field" type="file" name="avatar">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <input form="registroform" type="submit" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
    <script type="text/javascript">
        function registro() {
            var nick = $("#nick").val();
            var password = $("#password").val();
            $.post("{{ path('newuser') }}",{
                    nick: nick,
                    password: password
                },
                function (data) {
                    alert("registrado con exito");
                    $("#exampleModalCenter").modal('toggle');
                }).fail(function (data) {
                    alert("error: " + data.status);
            });
        }
    </script>
{% endblock %}